.DS_Store
# ignore modules ทั้งหมด
node_modules/*
# ยกเว้น module pdfmake
!node_modules/pdfmake
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
